  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    background: linear-gradient(135deg, #153677,#4e085f);
    width: 100%;
    min-height: 100vh;
    padding: 20px;
}
.todo-app{
    width: 100%;
    max-width: 450px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    padding-left: 20px;
    margin-bottom: 13px;
    border-radius: 30px;
    background: #edeef0;
}
input{
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    background: transparent;
    font-weight: 14px;
}
button.add{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
}
ul li{
    list-style: none;
    padding: 12px 8px 12px 50px;
    font-size: 17px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    width: 26px;
    height: 26px;
    position: absolute;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%; 
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    font-size: 22px;
    width: 40px;
    height: 40px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}
.error{
    font-size: 14px;
    margin-left: 17px;
    margin-bottom: 20px;
    color: #555;
    display: none;
    
}
.error p{
    font-weight: bold;
}
